<nav class="navbar navbar-expand-lg navbar-custom">

    <div class="container">

        <a class="navbar-brand logo" href="{{ url_for('main.home') }}">
            <i class="fa-solid fa-code"></i>
            SkillSwap
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="navbar">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a
                        class="nav-link active"
                        href="{{ url_for('main.home') }}">

                        Home

                    </a>

                </li>


                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{{ url_for('main.browse') }}">

                        Browse Skills

                    </a>

                </li>

                {% if session.get("user_id") %}

<li class="nav-item">

    <a
        class="nav-link"
        href="{{ url_for('main.messages') }}"
    >

        <i class="fa-solid fa-comments me-1"></i>

        Messages

    </a>

</li>

{% endif %}


                


                

                {% if session.get("is_admin", False) %}

    <li class="nav-item">

        <a
            class="nav-link"
            href="{{ url_for('main.dashboard') }}"
        >

            <i class="fa-solid fa-shield-halved me-1"></i>

            Admin Panel

        </a>

    </li>

{% endif %}


                {% if session.get("user_id") %}


                <!-- ========================= -->
                <!-- Notification Bell -->
                <!-- ========================= -->

                <li class="nav-item ms-3 d-flex align-items-center">

                    <a
                        href="{{ url_for('main.notifications') }}"
                        class="nav-link position-relative"
                        title="Notifications">

                        <i class="fa-solid fa-bell fa-lg"></i>


                        {% if unread_count > 0 %}

                            <span
    id="notificationBadge"
    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger
    {% if unread_count == 0 %}d-none{% endif %}">

    {{ unread_count }}

</span>

                        {% endif %}

                    </a>

                </li>


                <!-- ========================= -->
                <!-- Profile Dropdown -->
                <!-- ========================= -->

                <li class="nav-item dropdown ms-3 d-flex align-items-center">

                    <a
                        href="#"
                        class="profile-dropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">

                        <img
                            src="{{ url_for(
                                'static',
                                filename='uploads/profile_pictures/' +
                                session['profile_picture']
                            ) }}"
                            class="profile-avatar"
                            alt="Profile">

                    </a>


                    <ul class="dropdown-menu dropdown-menu-end shadow">

                        <li>

                            <a
                                class="dropdown-item"
                                href="{{ url_for('main.dashboard') }}">

                                <i class="fa-solid fa-gauge me-2"></i>

                                Dashboard

                            </a>

                        </li>


                        <li>

                            <a
                                class="dropdown-item"
                                href="{{ url_for('main.my_profile') }}">

                                <i class="fa-solid fa-user me-2"></i>

                                My Profile

                            </a>

                        </li>


                        <li>

                            <hr class="dropdown-divider">

                        </li>


                        <li>

                            <a
                                class="dropdown-item text-danger"
                                href="{{ url_for('main.logout') }}">

                                <i class="fa-solid fa-right-from-bracket me-2"></i>

                                Logout

                            </a>

                        </li>

                    </ul>

                </li>


                {% else %}


                <!-- ========================= -->
                <!-- Login / Register -->
                <!-- ========================= -->

                <li class="nav-item">

                    <a
                        href="{{ url_for('main.login') }}"
                        class="btn btn-login ms-3">

                        Login

                    </a>

                </li>


                <li class="nav-item">

                    <a
                        href="{{ url_for('main.register') }}"
                        class="btn btn-register ms-2">

                        Register

                    </a>

                </li>


                {% endif %}

            </ul>

        </div>

    </div>

</nav>